/* big tablet to 1200px tablet: from 1024px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    position: absolute;
    width: 100%;
    padding: 0 2%;
  }
  .row { padding: 0 2%; }
}

/* Small tablet to big tablet: from 768 to 1023px px */
@media only screen and (max-width: 1023px) {
  body { font-size: 18px;}
  select { padding: 60px 0;}
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

}



/* Small phones to small tablet: from 481 to 767 px */
@media only screen and (max-width: 767px) {

}


/* Small phones: from 0 to 480 px */
@media only screen and (max-width: 480px) {

}
